<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace通常是dao的完整路径 -->
<mapper namespace="com.cjt.trade.dao.IProductDao">
	<!-- 这里面的id一定是与dao中的方法名所对应的 -->
	<insert id="insertProduct" parameterType="com.cjt.trade.model.Product">
		INSERT INTO product (
			brand_id,
			`name`,
			`order`,
			title,
			keyword,
			description,
			logo_url,
			logo_real_url,
			content
		)
		VALUES
			(
				#{brandId},
				#{name},
				#{order},
				#{title},
				#{keyword},
				#{description},
				#{logoUrl},
				#{logoRealUrl},
				#{content}
			)
	</insert>
	
	<delete id="deleteProduct" parameterType="int">
		DELETE
		FROM
			product
		WHERE
			id = #{id}
	</delete>
	
	<select id="getAllProducts" parameterType="com.cjt.trade.dto.BaseDto" resultType="com.cjt.trade.vo.ProductVo">
		SELECT
			p.id 'id',
			t.id 'tradeId',
			t.`name` 'tradeName',
			b.id 'brandId',
			b.`name` 'brandName',
			p.`name` 'name',
			p.`order` 'order'
		FROM
			product p
		LEFT JOIN brand b ON p.brand_id = b.id
		LEFT JOIN trade t ON b.trade_id = t.id
		<if test="limit != 0">
			LIMIT #{start}, #{limit}
		</if>
	</select>
	
	<select id="getAllProductsCount" parameterType="com.cjt.trade.dto.BaseDto" resultType="int">
		SELECT
			COUNT(*)
		FROM
			product
	</select>
	
	<select id="getProductById" parameterType="int" resultType="com.cjt.trade.model.Product">
		SELECT
			p.id 'id',
			t.id 'tradeId',
			b.id 'brandId',
			p.`name` 'name',
			p.`order` 'order',
			p.title 'title',
			p.keyword 'keyword',
			p.description 'description',
			p.logo_url 'logoUrl',
			p.logo_real_url 'logoRealUrl',
			p.content 'content'
		FROM
			product p
		LEFT JOIN brand b ON p.brand_id = b.id
		LEFT JOIN trade t ON b.trade_id = t.id
		WHERE
			p.id = #{id}
	</select>
	
	<update id="updateProduct" parameterType="com.cjt.trade.model.Product">
		UPDATE product
		SET 
			brand_id = #{brandId},
			`name` = #{name},
			`order` = #{order},
			title = #{title},
			keyword = #{keyword},
			description = #{description},
		 	<if test="logoUrl != null and logoRealUrl != null">
				logo_url = #{logoUrl},
				logo_real_url = #{logoRealUrl},
			</if>
			content = #{content}
		WHERE
			id = #{id}
	</update>
	
	<select id="getAllProductsOptByBrandId" parameterType="int" resultType="com.cjt.trade.model.MapModel">
		SELECT
			id 'key',
			`name` 'value'
		FROM
			product
		WHERE
			brand_id = #{brandId}
	</select>
</mapper>