<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjt.trade.dao.IAdvertisementDao">

	<insert id="saveAd" parameterType="com.cjt.trade.model.Advertisement">
		INSERT INTO advertisement
		(`order`, url, logo_url, logo_real_url)
		VALUES
		(#{order}, #{url}, #{logoUrl}, #{logoRealUrl})
		<selectKey keyProperty="id" resultType="int">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>

	<select id="getAdById" parameterType="int" resultType="com.cjt.trade.model.Advertisement">
		SELECT
			id,
			`order`,
			url,
			logo_url AS 'logoUrl',
			logo_real_url AS 'logoRealUrl'
		from
			advertisement
		WHERE
			id = #{id}
	</select>

	<select id="listAllAds" resultType="com.cjt.trade.model.Advertisement">
		SELECT
			id,
			`order`,
			url,
			logo_url AS 'logoUrl',
			logo_real_url AS 'logoRealUrl'
		from
			advertisement
		ORDER BY `order`
	</select>
	
	<update id="updateAd" parameterType="com.cjt.trade.model.Advertisement">
		UPDATE advertisement
		SET
			`order` = #{order},
			url = #{url}
			<if test="logoUrl != null">
				,logo_url = #{logoUrl}
			</if>
			<if test="logoRealUrl != null">
				,logo_real_url = #{logoRealUrl}
			</if>
		WHERE
			id = #{id}
	</update>
	
	<delete id="removeAdById" parameterType="int">
		DELETE FROM advertisement
		WHERE id = #{id}
	</delete>
</mapper>