<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjt.trade.dao.IFeedbackDao">

	<insert id="saveFeedback" parameterType="com.cjt.trade.model.Feedback">
		INSERT INTO feedback
		(email, nick_name, content, date_time, reply)
		VALUES
		(#{email}, #{nickName}, #{content}, now(), #{reply})
		<selectKey keyProperty="id" resultType="int">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>

	<select id="queryFeedbackPg" resultType="com.cjt.trade.model.Feedback" parameterType="com.cjt.trade.dto.FeedbackDto">
		SELECT
			id,email, nick_name as nickName, content, date_time as dateTime, reply
		from
			feedback
		where content is not null
		ORDER BY date_time DESC
		LIMIT #{start}, #{limit}
	</select>

	<select id="queryFeedbackPgCount" resultType="int" parameterType="com.cjt.trade.dto.FeedbackDto">
		SELECT
		count(*)
		from
		feedback
		where content is not null
	</select>

	<select id="queryFeedbackById" resultType="com.cjt.trade.model.Feedback" parameterType="int">
		SELECT
		id as id,
		email as email,
		nick_name as nickName,
		content as content,
		reply as reply,
		date_time as dateTime
		from
		feedback
		where content is not null and id = #{id}
	</select>
	
	<update id="updateFeedback" parameterType="com.cjt.trade.model.Feedback">
		UPDATE feedback
		<trim prefix="set" suffixOverrides=",">
			<if test="reply != null">
				reply = #{reply},
			</if>
			<if test="content != null">
				content = #{content},
			</if>
			<if test="nickName != null">
				nick_name = #{nickName},
			</if>
			<if test="reply != null">
				email = #{email},
			</if>
		</trim>
		WHERE
			id = #{id}
	</update>
	
	<delete id="removeFeedbackById" parameterType="int">
		DELETE FROM feedback
		WHERE id = #{id}
	</delete>
</mapper>